::selection {
  background: blue;
  color: white;
}
::-moz-selection {
  background: blue;
  color: white;
}
.news {
  position: relative;
  z-index: 1;
  width: 267px;
  bottom: 34px;
}
.news-img {
  position: absolute;
  left: 537px;
  width: 98%;
  top: 99px;
  margin: 0px 10px;
  padding: 5px 0px;
  box-shadow: 0px 37px 45px #000000;
}
.phone {
  position: fixed;
  left: 509px;
  z-index: 4;
}
.phone-img {
  z-index: 2;
  border-bottom: 69px solid white;
  height: 100%;
  width: 340px;
}
#intro {
  display: block;
  z-index: 6;
  position: fixed;
  top: 150px;
  left: 1000px;
  width: 300px;
}
#panel {
  display: none;
  z-index: 6;
  position: fixed;
  top: 250px;
  left: 150px;
  width: 300px;
}
#media {
  display: none;
  z-index: 6;
  position: fixed;
  top: 150px;
  left: 1000px;
  width: 300px;
}
#category {
  display: none;
  z-index: 6;
  position: fixed;
  top: 250px;
  left: 150px;
  width: 300px;
}
#pc {
  display: none;
  z-index: 6;
  position: fixed;
  top: 600px;
  left: 1000px;
  width: auto;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}
.link{
  margin-left: 15px;
}
.desktop{
  width: 100vw;
}
.iphone{
  text-align: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#desk{
  overflow-x: hidden;
}
.menu{
  position: absolute;
  left: 564px;
  top: 120px;
  height: 30px;
  width: 30px;
  z-index: 5;
  cursor: pointer;
}
.menu-close{
  display: none;
  position: absolute;
  left: 564px;
  top: 112px;
  height: 30px;
  width: 30px;
  z-index: 6;
  cursor: pointer;
}
.menu-img {
  display: none;
  width: 349px;
  position: fixed;
  left: 537px;
  top: 81px;
  margin: 20px 10px;
  padding: 5px 0px;
  z-index: 3;
  box-shadow: 0px 37px 45px #000000;

}
.uppercase{
  text-transform: uppercase;
  font-size: 11px;
}
@media (max-width: 425px) {
  .phone {
    display: none;
  }
  .news-img {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    margin: 0px;
    padding: 0px;
  }
  .phone-img {
    width: 100%;
  }
  .news {
    width: 100vw;
  }
  .menu{
    position: absolute;
    left: 12px;
    top: 12px;
    height: 30px;
    width: 30px;
  }
  .menu-close{
    display: none;
    position: absolute;
    left: 12px;
    top: 12px;
    height: 30px;
    width: 30px;
    z-index: 6;
  }
  .menu-img {
    display: none;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 3;
  }
  #intro {
    display: block;
    z-index: 6;
    position: fixed;
    bottom: 0px;
    background: black;
    color: white;
    width: 100%;
    left: 0px;
    padding: 35px;
    height: 28vh;
    overflow-y: scroll;
    top: unset;
    box-shadow: 0 -6px 16px -4px #333;
  }
  #panel {
    display: none;
    z-index: 6;
    position: fixed;
    bottom: 0px;
    background: black;
    color: white;
    width: 100%;
    left: 0px;
    padding: 35px;
    height: 28vh;
    overflow-y: scroll;
    top: unset;
    box-shadow: 0 -6px 16px -4px #333;
  }
  #media {
    display: none;
    z-index: 6;
    position: fixed;
    bottom: 0px;
    background: black;
    color: white;
    width: 100%;
    left: 0px;
    padding: 35px;
    height: 18vh;
    overflow-y: scroll;
    top: unset;
    box-shadow: 0 -6px 16px -4px #333;
  }
  #category {
    display: none;
    z-index: 6;
    position: fixed;
    bottom: 0px;
    background: black;
    color: white;
    width: 100%;
    left: 0px;
    padding: 35px;
    height: 28vh;
    overflow-y: scroll;
    top: unset;
    box-shadow: 0 -6px 16px -4px #333;
  }
  #pc {
    display: none;
    z-index: 6;
    position: fixed;
    background: gainsboro;
    bottom: 0px;
    color: white;
    width: 100%;
    left: 0px;
    padding: 10px;
    text-align: center;
    height: 8vh;
    overflow-y: scroll;
    top: unset;
  }
}
